.App {
  font-family: sans-serif;
  text-align: center;
  background-color:chartreuse;
  border-radius: 5vh;
  border: 2px solid black;
  
}
.oneLine {
  color: white;
}
.twoLine {
  color: white;
}
.threeLine {
  color: white;
}
.num {
  color: white;
}